
/* CUERPO PRINCIPAL */
.botonmenu-fitness{
    height: 96%;
    width: 90%;
    background-color: #f5962a;
    border: solid 2px #db4315;
    font-size: 10px;
}
h3{
    margin-top: 8vh;
    text-align: center;
    font-size: 4vh;
    font-style: italic;
    font-family: cursive;
}
a{
    background: transparent;
    color: #000;
    text-decoration: none;
}
.cuerpo-principal{
    height: auto;
    width: 80%;
    padding: 0;
    margin: 4vh 10%;
    border: solid 1px #000;
}
.cuadroInterno{
    height: 50vh;
    width: 100%;
    background: transparent;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
}
.nombre{
    margin: 4px;
    font-style: oblique;
    font-size: 20px;
}
.descripcion{
    margin: 4px;
    font-size: 12px;
}
.precio{
    margin: 4px;
    font-size: 12px;
}
#desayunos{
    height: auto;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.desayuno{
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: 1/4 2/4 3/4 4/4;
}
/*INPUTS*/
.inputdesayuno1{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 25% 75%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno2{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 25% 75%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno3{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 25% 75%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno4{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 25% 75%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno5{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 25% 75%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno6{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 25% 75%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno7{
    height: 22vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 30% 70%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno8{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 30% 70%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno9{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 30% 70%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputdesayuno10{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-rows: 30% 70%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
/*DIVS OPCIONES E INTERIOR*/
.divOpcion{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    background: transparent;
}
.opcion{
    height: 90%;
    width: 70%;
    font-size: 8px;
}
/*CLASS INPUT*/
.input{
    height: auto;
    width: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    background: transparent;
}
/*CLASS INGRESO NUMERO*/

.ingresonumero1{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero2{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero3{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero4{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero5{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero6{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero7{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero8{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero9{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero10{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}

.botones{
    height: 100%;
    width: 100%;
    background: transparent;
    display: grid;
    grid-template-rows: 65% 35%;
}
.seleccionar{
    height: 80%;
    width: 98%;
    margin: auto;
    font-size: 8px;
}
.cancelar{
    height: 90%;
    width: 98%;
    margin: auto;
    font-size: 9px;
}
