*{
    background-color: #f8c98cf3;
    padding: 0;
}
.contenedorsuperior{
    position: sticky;
    top: 16px;
    z-index: 20;
}
#primercuadro{
    height: 4vh;
    width: 100%;
    display: grid;
    grid-template-columns: 10% 90%;
}
h1{
    height: 5vh;
    width: 100%;
    margin: 0;
    background-color: #f5a123;
    text-align: center;
    font-size: 3vh;
    font-style: italic;
    font-family: cursive;
}
.contenedor-logo{
    height: 30vh;
    width: 100%;
    margin: 4vh 0;
    padding: 0;
}
.imagen-logo{
    height: 100%;
    width: 90%;
    margin: 0 5%;
}
/*VISTA PREVIA*/
.nav{
    height: 26vh;
    width: 18vh;
    margin: 0;
    background-color: #f5a123;
    display: none;
    grid-template-rows: 1/6 2/6 3/6 4/6 5/6 6/6;
    position: relative;
    z-index: 3;
}
.menudesplegable{
    height: 100%;
    width: 100%;
    background-color: #f5a123;
    background-image: url(../iconos/Menu_icon_icon-icons.com_71858.ico);
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
.botonmenu{
    height: 96%;
    width: 90%;
    background-color: #d4770c;
    border: solid 2px #d33505;
    font-size: 10px;
}
#cuenta{
    height: 6vh;
    width: 8vh;
    display: none;
}
.comida{
    height: 6vh;
    width: 100%;
    display: none;
    grid-template-columns: 60% 40%;
}
#pedido{
    height: 6vh;
    width: 100%;
    margin: 0;
    background-color: azure;
    overflow-x: scroll;
    font-size: 26px;
}
.botones-vistaprevia{
    height: 98%;
    width: 98%;
    margin: 0;
    margin: auto;
    display: grid;
    grid-template-columns: 60% 40%;
    background: #f5a123;
}
button{
    height: 90%;
    width: 90%;
    margin: auto;
    padding: 0;
    font-size: 24px;
}
#enviarpedido{
    background-color: #18ee04;
}
#eliminarpedido{
    background-color: #ee3b04;
    font-size: 10px;
}
/* CUERPO PRINCIPAL */
h3{
    margin-top: 8vh;
    text-align: center;
    font-size: 4vh;
    font-style: italic;
    font-family: cursive;
}
a{
    background: transparent;
    color: #000;
    text-decoration: none;
}
.botonmenu-extra{
    height: 96%;
    width: 90%;
    background-color: #f5962a;
    border: solid 2px #db4315;
    font-size: 10px;
}
.cuerpo-principal{
    height: auto;
    width: 80%;
    padding: 0;
    margin: 4vh 10%;
    border: solid 1px #000;
}
.cuadroInterno{
    height: 50vh;
    width: 100%;
    background: transparent;
    position: relative;
}
img{
    height: 100%;
    width: 100%;
}
.nombre{
    margin: 4px;
    font-style: oblique;
    font-size: 20px;
}
.descripcion{
    margin: 4px;
    font-size: 16px;
}
.precio{
    margin: 4px;
    font-size: 16px;
}
#picadas{
    height: auto;
    width: 100%;
    margin-top: 5vh;
    margin-bottom: 5vh;
}
.picada{
    width: 100%;
    height: 100%;
    padding: 0;
    display: grid;
    grid-template-rows: 1/4 2/4 3/4 4/4;
}
/*INPUTS*/
.inputpicada1{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada2{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada3{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada4{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada5{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada6{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada7{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada8{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada9{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada10{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada11{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada12{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada13{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada14{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada15{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada16{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
.inputpicada17{
    height: 14vh;
    width: 60%;
    margin: 25% 15%;
    padding: 0;
    background-color: #ccae2856;
    display: none;
    grid-template-columns: 60% 40%;
    z-index: 2;
    position: absolute;
    top: 10px;
}
/*CLASS INGRESO NUMERO*/

.ingresonumero1{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero2{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero3{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero4{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero5{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero6{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero7{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero8{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero9{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero10{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero11{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero12{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero13{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero14{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero15{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero16{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.ingresonumero17{
    height: 50%;
    width: 50%;
    margin: auto;
    padding: 0;
    background-color: aliceblue;
    font-size: 26px;
    text-align: center;
}
.botones{
    height: 100%;
    width: 100%;
    background: transparent;
    display: grid;
    grid-template-rows: 65% 35%;
}
.seleccionar{
    height: 80%;
    width: 98%;
    margin: auto;
    font-size: 8px;
}
.cancelar{
    height: 90%;
    width: 98%;
    margin: auto;
    font-size: 9px;
}